@import url("./normalize.css");

* {
	font-weight: 400;
	font-family: Roboto, sans-serif;
}

html,
body {
	font-size: 14px;
	height: 100%;
	line-height: 1;
	background-color: #ffffff;
	letter-spacing: 1px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

.container {
	max-width: 1560px;
	padding: 0 15px;
	margin: 0 auto;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

@media (min-width: 767px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 991px) {
	.container {
		max-width: 970px;
	}
}


@media (min-width: 1199px) {
	.container {
		max-width: 1170px;
	}
}

@media (min-width: 1300px) {
	.container {
		max-width: 1260px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1360px;
	}
}

@media (min-width: 1500px) {
	.container {
		max-width: 1460px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1560px;
	}
}

/*--------------------HEADER--------------------*/

.header-top * {
	color: rgb(255, 255, 255);
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	background-color: #222;
	padding: 0px 30px;
}

.header-top__navigation {
	display: flex;
	align-items: center;
}

.header-top__navigation .language__list,
.currency__list,
.contacts__number {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	margin-right: 10px;
	position: relative;
}

.language__list,
.currency__list {
	padding: 4px 0px;
}

.language__item,
.currency__item {
	margin-right: 10px;
}

.currency__flag img {
	height: 11px;
	width: 16px;
	margin-right: 5px;
}

.header-top__sales,
.sales__percentage {
	color: #ff8149;
}

.header-top__shipping {
	display: flex;
	align-items: center;
	padding: 10px 0px;
}

.contacts {
	display: flex;
}

.contacts__number,
.contacts__email {
	display: inline-flex;
	align-items: center;
}

.number__icon,
.email__icon {
	margin-right: 5px;
}

.number__content {
	margin-right: 10px;
}

@media (max-width: 1100px) {
	.header-top {
		font-size: 11px;
	}
}

@media (max-width: 991px) {
	.header-top {
		justify-content: center;
	}

	.header-top__navigation {
		display: none;
	}

	.header-top__contancts {
		display: none;
	}
}

@media (max-width: 480px) {
	.header-top__shipping {
		font-size: 9px;
		padding: 8px 0px;
	}
}

/*----------------------------------HEADER-TOP------------------------------------*/

.header-bottom {
	padding: 0 30px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bottom__burger {
	position: relative;
	height: 2px;
	width: 15px;
	background: #111;
	margin-right: 15px;
}

.header-bottom__burger::before,
.header-bottom__burger::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 15px;
	background: #111;
	margin-right: 15px;
}

.header-bottom__burger::before {
	top: 5px;
	left: 0;
}

.header-bottom__burger::after {
	bottom: 5px;
	left: 0;
}

.header-bottom__list {
	display: flex;
}

.header-bottom__item {
	position: relative;
	margin: 18px 2px;
	padding: 8px 24px;
	font-family: Cormorant sans-serif;
	font-size: 16px;
}

.header-bottom__item::after {
	position: absolute;
	content: url("../img/down_icon.svg");
	height: 20px;
	width: 20px;
	font-size: 16px;
	line-height: 22px;
}

.header-bottom__item--header {
	position: absolute;
	top: -8px;
	padding: 2px 5px;
	background-color: #222222;
	color: #ffffff;
	font-size: 10px;
	line-height: 14px;
}

.header-bottom__user-actions {
	display: flex;
	align-items: center;
}

.header-bottom__user-actions>*:not(:last-child) {
	padding: 25px 0;
	margin-right: 30px;
}

.header-bottom__search {
	display: inline-flex;
	align-items: center;
	background: none;
	height: 100%;
}

.header-bottom__search svg {
	margin-right: 8px;
}

.header-bottom__myaccount,
.cart__link {
	position: relative;
}

.cart {
	margin-right: 15px;
}

.header-bottom__myaccount::after {
	position: absolute;
	content: url("../img/down_icon.svg");
	height: 20px;
	width: 20px;
	font-size: 13px;
	line-height: 16px;
}

.cart__counter {
	position: absolute;
	top: -5px;
	right: -15px;
	background-color: #222222;
	color: #ffffff;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	font-size: 12px;
	line-height: 16px;
}

@media (max-width: 1100px) {
	.header-bottom {
		font-size: 13px;
	}
}

@media (max-width: 991px) {

	.header-bottom {
		height: 70px;
		padding: 0 15px;
	}

	.header-bottom__menu {
		flex: 0 1 100%;
		position: relative;
	}

	.header-bottom__burger {
		position: absolute;
		left: 0;
		top: 10px;
	}

	.header-bottom__search span {
		display: none;
	}

	.header-bottom__user-actions>*:not(:last-child) {
		padding: 25px 0;
		margin-right: 15px;
	}

	.header-bottom__myaccount {
		display: none;
	}

	.header-bottom__myaccount--mobile {
		width: 20px;
	}

	.header-bottom__navigation {
		display: none;
	}
}

@media (min-width: 991px) {
	.header-bottom__myaccount--mobile {
		display: none;
	}
}

@media (max-width: 480px) {

	.header-bottom {
		height: 62px;
	}

	.header-bottom__menu {
		flex: none;
		position: relative;
	}

	.header-bottom__logo {
		margin-left: 30px;
	}

}

/*--------------------------------------MAIN PAGE--------------------------------------------*/

.page__home {
	margin: 0 0 80px;
}

.home__swiper {
	position: relative;
}

.swiper__button {
	position: absolute;
	top: 50%;
	padding: 5px;
	background: none;
}

.swiper__button-left {
	left: 30px;
}

.slider__image img {
	width: 100%;
	height: auto;
}

.swiper__button-right {
	right: 30px;
}

.slider__content {
	position: absolute;
	top: auto;
	bottom: 34%;
	left: 10%;
	right: auto;
	text-align: center;
	width: 30%;
}

.slider-subtitle {
	font-size: 18px;
	margin: 0 0 20px;
}

.slider-title {
	font-family: Cormorant sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	margin: 0 0 25px;
}

.slider-button {
	border-color: #272727;
	margin: 0 0 5px;

}

.slider-button a {
	font-family: Cormorant sans-serif;
	font-size: 16px;
	display: inline-block;
	background-color: #222;
	color: #ffffff;
	padding: 12px 29px;
	position: relative;
}

.slider-button a::after {
	content: "";
	cursor: inherit;
	left: 0;
	bottom: -10px;
	padding: 0 0 1px;
	position: absolute;
	width: 100%;
	background-color: #222;
}

@media (max-width: 1599px) {
	.slider-title {
		font-size: 52px;
		line-height: 60px;
	}
}

@media (max-width: 1459px) {
	.slider-subtitle {
		margin: 0 0 10px;
		font-size: 16px;
		line-height: 18px;
	}

	.slider-title {
		font-size: 40px;
		line-height: 50px;
	}
}

@media (max-width: 1199px) {
	.page__home {
		margin: 0 0 50px;
	}

	.slider__content {
		bottom: 20%;
	}

	.slider-subtitle {
		font-size: 14px;
		line-height: 16px;
	}

	.slider-title {
		font-size: 34px;
		line-height: 42px;
	}

	.slider-button a {
		font-size: 14px;
		padding: 10px 24px;
	}
}

@media (max-width: 991px) {
	.slider__content {
		width: 35%;
	}

	.slider-title {
		font-size: 20px;
		line-height: 34px;
	}

	.slider-button a {
		font-size: 13px;
		padding: 8px 20px;
	}
}

@media (max-width: 767px) {
	.page__home {
		margin: 0 0 30px;
	}

	.slider__content {
		width: 38%;
		bottom: 14%;
	}

	.slider-subtitle {
		margin: 0 0 8px;
		font-size: 11px;
		line-height: 13px;
	}

	.slider-title {
		font-size: 20px;
		line-height: 28px;
		margin: 0 0 15px;
	}

	.slider-button a {
		font-size: 11px;
		padding: 7px 16px;
	}
}

@media (max-width: 480px) {
	.slider__content {
		width: 42%;
		bottom: 20%;
	}

	.slider-subtitle {
		display: none;
	}

	.slider-title {
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 8px;
	}

	.slider-button a {
		font-size: 10px;
		line-height: 12px;
		padding: 5px 10px;
	}
}

/*--------------------------------------SECTION HEADER---------------------------------------*/

.section__header {
	text-align: center;
	width: 100%;
}

.section__subtitle {
	display: inline-block;
	width: auto;
	font-weight: 500;
	font-size: 13px;
	border: 1px solid #ccc;
	padding: 9px 16px;
	margin: 0 0 15px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #777777;
}

.section__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;
}

.section__description {

	font-weight: 400;
	font-size: 14px;
	margin: 0 0 30px;
}

@media (max-width: 1199px) {
	.section__subtitle {
		margin: 0 0 10px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 2px;
	}

	.section__title {
		font-size: 30px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.section__description {
		margin: 0 0 20px;
		font-size: 13px;
		line-height: 15px;
	}
}

@media (max-width: 767px) {
	.section__subtitle {
		padding: 6px 12px;
		letter-spacing: 1px;
	}

	.section__title {
		font-size: 24px;
		line-height: 26px;
	}

	.section__description {
		margin: 0 0 15px;
		font-size: 12px;
		line-height: 14px;
	}
}

@media (max-width: 480px) {
	.section__title {
		font-size: 22px;
		line-height: 24px;
	}
}

/*--------------------------------------SECTION CATEGORIES---------------------------------------*/

.page__categories {
	margin-bottom: 80px;
}

.categories__carusel .owl-item:nth-child(even) {
	margin-top: 50px;
}

.categories__item {
	margin: 0px 10px;
	padding: 0px 5px;
}

.categories__image {
	display: block;
	position: relative;
	padding: 0 0 135% 0;
}

.categories__content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #ffffff;
}

.categories__title {
	text-align: center;
	width: 100%;
	font-family: Cormorant sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #111;
	margin: 0 0 5px;
}

.categories__description {
	color: #666;
	font-style: italic;
	font-family: Roboto sans-serif;
	font-size: 13px;
}

@media (max-width: 1299px) {
	.page__categories {
		margin-bottom: 50px;
	}

	.categories__content {
		width: 120px;
		height: 120px;
	}

	.categories__title {
		font-size: 18px;
		line-height: 20px;
	}

}

@media (max-width: 767px) {
	.page__categories {
		margin-bottom: 30px;
	}

}

/*----------------------------------services PAGE-----------------------------------*/

.services {
	margin: 0 0 80px;
}

.services__container {
	max-width: 1260px;
}

.services__content {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

.services__item {
	text-align: center;
	cursor: pointer;
	margin: 20px 0;
	white-space: pre-line;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.services__content .owl-item:nth-child(-n+3):after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	height: 80%;
	background-color: #ccc;
}

.services__title {
	font-family: Cormorant sans-serif;
	color: #111;
	font-size: 16px;
	margin: 20px 0 8px;
}

.services__title:hover {
	color: #ff8149;
}

.services__subtitle {
	font-family: Roboto sans-serif;
	font-style: italic;
	color: #777;
	font-size: 13px;
	margin: 0 0 8px;
}

@media (max-width: 1200px) {
	.services {
		margin-bottom: 50px;
	}

	.services__content .owl-item:nth-child(3):after {
		display: none;
	}

}

@media (max-width: 767px) {
	.services {
		margin-bottom: 30px;
	}

	.services__content .owl-item:nth-child(2):after {
		display: none;
	}
}

@media (max-width: 499px) {
	.services__content .owl-item:nth-child(1):after {
		display: none;
	}
}



/*------------------------------------PRODUCTS------------------------------------*/

.products {
	background: #f1ebe8;
	padding: 80px 0;
	margin: 0 0 80px;
}

.products__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.products__title {
	flex: 0 1 50%;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;

}

.products__navigation {
	margin: 0 0 15px;
}

.products__list {
	display: flex;
	align-items: center;
}

.products__item {
	padding: 8px 20px;
	margin: 0 2px;
}


.products__link {
	color: #666666;
	font-size: 14px;
	position: relative;
}

.products__link--active {
	font-weight: 500;
	color: #111;
}

.products__link--active::after {
	content: "";
	position: absolute;
	background-color: #111;
	width: 100%;
	left: 0;
	bottom: -5px;
	padding-bottom: 1px;
}

.products__row {
	flex: 0 1 100%;
}

.products__column {
	padding: 0 15px;
	margin: 0 -15px
}

.card__image {
	max-width: 100%;
	position: relative;
	padding: 0 0 125% 0;
	margin-bottom: 15px;
}

.card__title {
	font-size: 14px;
	color: #555555;
	line-height: 16px;
	margin: 0 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.card__properties {
	display: flex;
	align-items: center;
	line-height: 18px;
	margin: 0 0 10px;
}

.properties__colors {
	display: flex;
	position: relative;
	margin-right: 5px;
	align-items: center;
}

.properties__colors::after {
	content: "";
	position: absolute;
	background-color: #ccc;
	padding-right: 1px;
	top: 0;
	right: -5px;
	height: 100%;
}

.color {
	height: 12px;
	padding: 6px;
	border-radius: 50%;
	margin: 0 5px;
}

.color--active {
	padding: 7px;
}

.color--red {
	background-color: red;
}

.color--brown {
	background-color: brown;
}

.color--black {
	background-color: black;
}

.color--pink {
	background-color: pink;
}

.color--grey {
	background-color: grey;
}

.color--white {
	background-color: white;
}

.color--blue {
	background-color: blue;
}

.properties__sizes {
	display: flex;
	margin: 0 5px;
}

.size {
	margin: 0 5px;
	color: #aaa;
	font-size: 12px;
}

.size--active {
	color: #111;
}

.card__price {
	line-height: 18px;
}

.card__price * {
	margin-right: 4px;
	font-weight: 700;
	font-size: 15px;
}

.card__price--discount {
	color: #ff0000;
}

.card__price--old {
	font-weight: 500;
	font-size: 13px;
	color: #aaa;
	text-decoration: line-through;
}

.products .owl-nav {
	font-size: 40px;
	line-height: 40px;
}

.products .owl-prev,
.products .owl-next {
	height: 40px;
	width: 40px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.products .owl-prev {
	left: -30px;
}

.products .owl-next {
	right: -30px;
}

.products .owl-nav .disabled span {
	color: #ff8149;
	cursor: default;
}


@media (max-width: 1199px) {
	.products__title {
		font-size: 30px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.products {
		padding: 50px 0;
		margin: 0 0 50px;
	}

}

@media (max-width: 991px) {
	.products .owl-nav {
		font-size: 30px;
		line-height: 30px;
		padding: 0;
		text-align: center;
		margin-top: 10px;
	}

	.products .owl-prev,
	.products .owl-next {
		height: 30px;
		width: 30px;
		overflow: hidden;
		position: static;
	}

	.products .owl-prev {
		left: -15px;
	}

	.products .owl-next {
		right: -15px;
	}

	.products .owl-nav .disabled span {
		color: inherit;
		opacity: 0.5;
		cursor: default;
	}

	.products .products__item {
		padding: 8px 14px;
		margin: 0 2px;
	}
}

@media (max-width: 767px) {
	.products__title {
		flex: 0 1 100%;
		font-size: 24px;
		line-height: 26px;
	}

	.products__container {
		justify-content: center;
		text-align: center;
	}

	.products {
		padding: 30px 0;
		margin: 0 0 30px;
	}
}

@media (max-width: 480px) {
	.products__title {
		font-size: 22px;
		line-height: 24px;
	}

	.products {
		padding: 20px 0;
	}

	.products__column {
		padding: 0 10px;
		margin: 0 -10px;
	}

	.products__item {
		padding: 8px;
		margin: 0;
	}

	.products__link {
		font-size: 13px;
	}
}


/*------------------------------------PAGE - SALE------------------------------------*/

.page__sale {}

.sale {
	margin: 0 0 80px;
}

.sale__container {
	max-width: 1260px;
}

.sale__content {
	display: grid;
	text-align: center;
}

.sale__content~div {
	padding: 0 15px;
}

.sale__collection {
	grid-column: 2fr;
	position: relative;
}

.sale__discount {
	position: relative;
	grid-column: 1fr;
}

.sale__season {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 30px 0 0;
}

.collection__banner {
	position: absolute;
	top: 32%;
	left: 5%;
	bottom: auto;
	text-align: right;
	width: 35%;
}

.banner {}

.banner__subtitle {
	position: relative;
	font-size: 18px;
	padding: 0 0 15px;
	margin: 0 0 10px;
}

.collection__banner .banner__subtitle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 30px;
	background: #cd3f55;
	top: auto;
	bottom: 0;
	right: 0;
	left: auto;
}

.banner__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 34px;
	margin: 0 0 12px;
}

.banner__description {
	font-weight: 500;
	font-size: 16px;
}

.sale__banner {
	position: absolute;
	top: 8%;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 68%;
}

.season__banner {
	position: absolute;
	top: 0;
	left: 12%;
	text-align: center;
	width: 35%;
	margin: 8% 0;
	color: #fff;
}

.season__banner .banner__subtitle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 30px;
	background: #cd3f55;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

/*------------------------------------BRAND - SALE------------------------------------*/

.brand {
	margin: 0 0 80px;
}

.brand__container {
	max-width: 1260px;
}

.brand__logo {
	padding: 0 15px;
	margin: 10px 0 0;
	display: flex;
	justify-content: center;
}

.brand .owl-nav {
	font-size: 40px;
	line-height: 40px;
}

.brand .owl-prev,
.brand .owl-next {
	height: 40px;
	width: 40px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.brand .owl-prev {
	left: -0px;
}

.brand .owl-next {
	right: -0px;
}

.brand .owl-nav .disabled span {
	color: #ff8149;
	cursor: default;
}

@media (max-width: 1199px) {
	.brand {
		margin: 0 0 50px;
	}
}

@media (max-width: 991px) {
	.brand .owl-nav {
		font-size: 32px;
		line-height: 32px;
	}

	.brand .owl-prev,
	.brand .owl-next {
		height: 32px;
		width: 32px;
	}
}

@media (max-width: 767px) {
	.brand {
		margin: 0 0 30px;
	}
}

@media (max-width: 480px) {
	.brand .owl-prev {
		left: -15px;
	}

	.brand .owl-next {
		right: -15px;
	}
}

/*------------------------------------LATEST NEWS------------------------------------*/

.page__news {
	margin: 0 0 80px;
}

.news__row {
	display: flex;
	justify-content: space-between;
}

.news__column {
	flex: 0 1 100%;
}

.news__item {
	padding: 0 15px;
	position: relative;
}

.news__image {
	display: block;
	max-width: 425px;
	padding: 0 0 62% 0;
	position: relative;
}

.news__image::after {
	content: "27 Sep, 2021";
	position: absolute;
	padding: 10px;
	top: auto;
	bottom: 10px;
	left: auto;
	right: 10px;
	background-color: #fff;
	box-shadow: 1px 0 10px rgb(0 0 0 / 10%);
}

.news__content {}

.content {
	padding: 15px 0 0;
	text-align: left;
	line-height: 22px;
}

.news__title {
	color: #222222;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news__decritption {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 0 0 10px;
	color: #777777;
}

.news__link {
	color: #111;
	position: relative;
	padding: 0 0 0 25px;
}

.news__link::before {
	content: "";
	position: absolute;
	background: #111;
	width: 20px;
	height: 1px;
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

/*------------------------------------INSTAGRAM FEEDS------------------------------------*/

.page__feeds {
	margin: 0 0 80px;
}

.feeds {}

.feeds__container {}

.feeds .section__subtitle {
	border: none;
	padding: 0;
	margin: 0 0 5px;
}

.feeds .section__subtitle img {
	height: 35px;
	width: 35px;
}


.feeds__content {
	display: flex;
	justify-content: space-between;

}

.feeds__item {
	padding: 0 5px;
}

.feeds__image {
	display: block;
	width: 298px;
	padding: 0 0 100%;
}

/*------------------------------------FOOTER------------------------------------*/

.page__footer {}

.footer {}

.footer__container {
	border-top: 1px solid #e5e5e5;
	padding: 80px 0;
}

.container {}

.footer__content {
	display: flex;
}

.footer__discover {
	flex: 0 1 66%;
	display: flex;
	justify-content: space-between;
}

.footer__column {
	flex: 0 1 100%;
}

.footer__item {}

.item {
	padding: 0 15px;
}

.item__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 30px;
}

.footer-navigation__list {}

.footer-navigation__item {
	margin: 0 0 5px;
	line-height: 22px;
}

.footer-navigation__link {
	color: #666;
	font-size: 13px;
}

.footer__newsletter {
	flex: 0 1 33%;
}

.newsletter {}

.newsletter__title {
	color: #111;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-left: 30px;
	margin: 0 0 30px;
	position: relative;
}

.newsletter__title::before {
	content: url("../img/3643756-email-envelope-mail-message-open_113417.svg");
	position: absolute;
	height: 20px;
	width: 20px;
	left: 0;
}

.newsletter__description {
	color: #666;
	font-size: 13px;
	margin: 0 0 15px;
	line-height: 22px;
}

.newsletter__form {
	display: flex;
	padding: 0 0 8px;
	border-bottom: 1px solid #e5e5e5;
}

.form__input {
	padding: 10px 15px 10px 15px;
	width: 100%;
	height: 45px;
}

.form__buttton {
	color: #fff;
	background-color: #111;
	padding: 0 32px;
	height: 45px;
}

/*------------------------------------FOOTER_buttom------------------------------------*/

.footer-bottom {
	background-color: #222222;
}

.footer-bottom__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom__copyright {
	color: #fff;
	margin: 12px 0;
}

.footer-bottom__copyright * {
	color: #fff;
}

.footer-bottom__social {}

.social {
	display: flex;
}

.social__item:not(:last-child) {
	margin: 0 10px 0 0;
}

.social__link img {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-size: 16px;
	margin: 0 5px;
}