@import url("./normalize.css");

* {
	font-weight: 400;
	font-family: Roboto, sans-serif;
}

html,
body {
	font-size: 14px;
	height: 100%;
	line-height: 1;
	background-color: #ffffff;
	letter-spacing: 1px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

.container {
	max-width: 500px;
	margin: 0px auto;
	padding: 0px 20px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}


._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*--------------------HEADER--------------------*/

.header {}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	color: rgb(255, 255, 255);
	background-color: #222;
	padding: 0px 15px;
}

.header-top__list {}

.header-top__list--item:first-child {
	display: flex;
}

.header-top__list--item {}

.header-top__language {
	margin-right: 10px;
	position: relative;
}

.language {}

.language__list::after {
	content: "";
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	right: 0px;
	left: auto;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	width: 1px;
}

.language__item {
	margin-right: 10px;
}

.header-top__currency {
	margin-right: 10px;
}

.currency {
	position: relative;
}

.currency__list::after {
	content: "";
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	right: 0px;
	left: auto;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	width: 1px;
}

.currency__item {
	margin-right: 10px;
}

.header-top__sales {
	color: #ff8149;
}

.header-top__shipping {
	display: flex;
	align-items: center;
	padding: 11px 0px;
}

.shipping__icon svg {
	display: block;
}

.header-top__contancts {}

.contacts * {
	color: #ffffff;
}

.contacts {
	display: flex;
}

.contacts__number {
	margin-right: 10px;
	position: relative;
}

.number {
	display: inline-flex;
	align-items: center;
}

.number__icon {
	margin-right: 5px;
}

.number__content {
	margin-right: 10px;
}

.number__content::after {
	content: "";
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	right: 0px;
	left: auto;
	top: 0;
	bottom: 0;
	height: 20px;
	width: 1px;
}

.contacts__email {
	display: inline-flex;
	align-items: center;
}

.email {}

.email__icon {
	margin-right: 5px;
}

.email__content {}

.header-bottom {
	padding: 0 30px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-bottom__burger {}

.header-bottom__logo {}

.header-bottom__navigation {}

.header-bottom__list {
	display: flex;
}

.header-bottom__item {
	margin: 0 2px;
	padding: 18px 0;
}

.dropdown__text {}

.dropdown__toggle {}

.dropdown__content {}

.header-bottom__user-actions {
	display: flex;
	align-items: center;
}

.header-bottom__search {}

.search {}

.search-button {
	display: inline-flex;
	align-items: center;
	background: none;
	height: 100%;
	padding: 25px 0;
}

.search-button svg {
	margin-right: 8px;
}

.header-bottom__myaccount {}

.dropdown {}

.header-bottom__cart {}

.cart {}

.cart__link svg {
	width: 20px;
	height: 20px;
}

.cart__counter {}

/*-------------------------------DROP-DOWN------------------------------------------*/

.dropdown {
	color: #666;
	font-size: .9em;
	width: 100%;
	max-width: 400px;
	line-height: 2.2;
	text-align: left;
	position: relative;
	display: inline-block;
}

.dropdown__text {
	padding: 8px 24px;
}

.dropdown__toggle {
	border-left: 1px solid #d9d9d9;
	cursor: pointer;
	top: 0;
	bottom: 0;
	right: 1px;
	z-index: 1;
	padding: 0;
	width: 33px;
	position: absolute;
}

.dropdown__toggle:after {
	content: '';
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin: -3px -6px;
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #999 transparent transparent transparent;
}

.dropdown.is-open .dropdown__toggle:after {
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #999 transparent;
}

.dropdown__toggle:hover:after {
	border-top-color: #777;
}

.dropdown.is-open .dropdown__toggle:hover:after {
	border-bottom-color: #777;
}

.dropdown__content {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	text-indent: .5em;

	top: 2.1;
	left: 0;
	right: 0;
	padding: 0;
	margin: -1px 0 0 0;
	position: absolute;

	overflow: auto;
	max-height: 100px;

	opacity: 0;
	visibility: hidden;
	list-style-type: none;

	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;
}

.dropdown__content li+li {
	border-top: 1px solid #d9d9d9;
}

.dropdown__content a {
	display: block;
	color: inherit;
	text-decoration: none;
	/* Add ... if too long */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dropdown__content a:hover {
	background-color: #f8f8f8;
}

.dropdown.is-open .dropdown__content {
	opacity: 1;
	visibility: visible;
}

/*-------------------------------DROP-DOWN------------------------------------------*/


/*--------------------------------------MAIN PAGE--------------------------------------------*/

.page__home {
	margin: 0 0 80px;
}

.home {}

.home__swiper {
	position: relative;

}

.swiper {}

.swiper__button {
	position: absolute;
	top: 50%;
	padding: 5px;
	background: none;
}

.swiper__button-left {
	left: 30px;
}

.swiper__wrapper {}

.swiper__slaider {}

.slider__image {
	display: block;
}

.slider__image img {
	width: 100%;
	height: auto;
}

.swiper__button-right {
	right: 30px;
}

.slider__content {
	position: absolute;
	top: auto;
	bottom: 34%;
	left: 10%;
	right: auto;
	text-align: center;
	width: 30%;
}

.slider-content-wrap {}

.content-left {}

.effect_left {}

.slider-subtitle {
	font-size: 1.3vw;
	margin: 0 0 20px;
}

.slider-title {
	font-family: Cormorant sans-serif;
	font-weight: 400;
	font-size: 3vw;
	line-height: 130%;
	margin: 0 0 25px;
}

.slider-button {
	border-color: #272727;
	margin: 0 0 5px;

}

.slider-button a {
	font-family: Cormorant sans-serif;
	display: inline-block;
	background-color: #222;
	color: #ffffff;
	padding: 12px 29px;
	position: relative;
}

.slider-button a::after {
	content: "";
	cursor: inherit;
	left: 0;
	bottom: -10px;
	padding: 0 0 1px;
	position: absolute;
	width: 100%;
	background-color: #222;
}


/*--------------------------------------SECTION CATEGORIES---------------------------------------*/

.page__categories {
	margin-bottom: 80px;
}

.categories {}

.categories__container {}

.container {
	max-width: 1560px;
	padding: 0 15px;
	margin: 0 auto;
}

.section__header {
	text-align: center;
	width: 100%;
}

.section__subtitle {
	display: inline-block;
	width: auto;
	font-weight: 500;
	font-size: 13px;
	border: 1px solid #ccc;
	padding: 9px 16px;
	margin: 0 0 15px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.section__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;
}

.section__description {
	font-weight: 400;
	font-size: 14px;
	margin: 0 0 30px;
}

.categories__slider {}

.categories__carusel {
	display: flex;
}

.categories__column {
	margin: 0px 10px;
	padding: 0px 5px;
	flex: 0 1 100%
}

.categories__carusel .categories__column:nth-child(even) {
	margin-top: 50px;
}

.categories__item {
	position: relative;
}

.categories__image {
	display: block;
	max-width: 360px;
	position: relative;
	padding: 0 0 130% 0;
}

.categories__content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.categories__content::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 150px;
	height: 150px;
	align-items: center;
	border-radius: 50%;
	background: #ffffff;
}

.content {
	text-align: center;
}

.content__description {
	width: 25%;
	font-family: Cormorant sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.content__description i {
	display: block;
	font-family: Roboto sans-serif;
	font-size: 13px;
}



/*----------------------------------services PAGE-----------------------------------*/

.page__services {}

.services {
	margin: 0 0 80px;
}

.services__container {}

.services__content {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
}

.services__column {
	flex: 0 1 100%;
	margin: 20px 0;
	position: relative;

}

.services__item {
	text-align: center;
	cursor: pointer;
	height: 150px;
	white-space: pre-line;
}

.services__column:not(:last-child) {
	border-right: solid 1px #ccc;
}

.services__image {
	height: 50px;
	width: 50px;

}

.services__title {
	font-family: Cormorant sans-serif;
	color: #111;
	font-size: 18px;
	margin: 20px 0 10px;
}

.services__subtitle {
	font-family: Roboto sans-serif;
	font-style: italic;
	color: #777;
	font-size: 13px;
	margin: 0 0 8px;
}

/*------------------------------------PRODUCTS------------------------------------*/

.page__products {
	background: #f1ebe8;
	padding: 80px 0;
	margin: 0 0 80px;
}

.products {}

.products__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.container {}

.products__title {
	flex: 0 1 50%;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;
}

.products__navigation {
	margin: 0 0 15px;
}

.products__list {
	display: flex;
}

.products__item {
	padding: 8px 20px;
	margin: 0 2px;
}


.products__link {
	color: #666666;
	font-size: 14px;
	position: relative;
}

.products__link--active {
	font-weight: 500;
	color: #111;
}

.products__link--active::after {
	content: "";
	position: absolute;
	background-color: #111;
	width: 100%;
	left: 0;
	bottom: -5px;
	padding-bottom: 1px;
}

.products__row {
	flex: 0 1 100%;
	display: flex;
}

.products__column {
	flex: 0 1 100%;
	padding: 0 15px;
}

.card__image {
	max-width: 242px;
	position: relative;
	padding: 0 0 125% 0;
	margin-bottom: 15px;
}

.card__description {}

.card__title {
	font-size: 14px;
	color: #555555;
	line-height: 16px;
	margin: 0 0 10px;
}

.card__properties {
	display: flex;
	align-items: center;
	line-height: 18px;
	margin: 0 0 10px;
}

.properties {}

.properties__colors {
	display: flex;
	position: relative;
	margin-right: 5px;
	align-items: center;
}

.properties__colors::after {
	content: "";
	position: absolute;
	background-color: #ccc;
	padding-right: 1px;
	top: 0;
	right: -5px;
	height: 100%;
}

.color {
	height: 12px;
	padding: 6px;
	border-radius: 50%;
	margin: 0 5px;
}

.color--active {
	padding: 7px;
}

.color--red {
	background-color: red;
}

.color--brown {
	background-color: brown;
}

.color--black {
	background-color: black;
}

.color--pink {
	background-color: pink;
}

.color--grey {
	background-color: grey;
}

.color--white {
	background-color: white;
}

.color--blue {
	background-color: blue;
}

.properties__sizes {
	display: flex;
	margin: 0 5px;
}

.size {
	margin: 0 5px;
	color: #aaa;
	font-size: 12px;
}

.size--active {
	color: #111;
}

.card__price {
	line-height: 18px;
}

.card__price * {
	margin-right: 4px;
	font-weight: 700;
	font-size: 15px;
}

.card__price--new {}

.card__price--discount {
	color: #ff0000;
}

.card__price--old {
	font-weight: 500;
	font-size: 13px;
	color: #aaa;
	text-decoration: line-through;
}

/*------------------------------------PAGE - SALE------------------------------------*/

.page__sale {}

.sale {
	margin: 0 0 80px;
}

.sale__container {
	max-width: 1260px;
}

.sale__content {
	display: grid;
	text-align: center;
}

.sale__content~div {
	padding: 0 15px;
}

.sale__collection {
	grid-column: 2fr;
	position: relative;
}

.sale__discount {
	position: relative;
	grid-column: 1fr;
}

.sale__season {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 30px 0 0;
}

.collection__banner {
	position: absolute;
	top: 32%;
	left: 5%;
	bottom: auto;
	text-align: right;
	width: 35%;
}

.banner {}

.banner__subtitle {
	position: relative;
	font-size: 18px;
	padding: 0 0 15px;
	margin: 0 0 10px;
}

.collection__banner .banner__subtitle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 30px;
	background: #cd3f55;
	top: auto;
	bottom: 0;
	right: 0;
	left: auto;
}

.banner__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 34px;
	margin: 0 0 12px;
}

.banner__description {
	font-weight: 500;
	font-size: 16px;
}

.sale__banner {
	position: absolute;
	top: 8%;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 68%;
}

.season__banner {
	position: absolute;
	top: 0;
	left: 12%;
	text-align: center;
	width: 35%;
	margin: 8% 0;
	color: #fff;
}

.season__banner .banner__subtitle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 30px;
	background: #cd3f55;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

/*------------------------------------BRAND - SALE------------------------------------*/

.page__brand {
	margin: 0 0 80px;
}

.brand {}

.brand__container {
	max-width: 1260px;
}

.brand__content {
	display: flex;
	justify-content: space-between;
}

.brand__logo {
	padding: 0 15px;
	margin: 10px 0 0;
}

.brand__image {
	height: 130px;
	width: 130px;
}

/*------------------------------------LATEST NEWS------------------------------------*/

.page__news {
	margin: 0 0 80px;
}

.news__row {
	display: flex;
	justify-content: space-between;
}

.news__column {
	flex: 0 1 100%;
}

.news__item {
	padding: 0 15px;
	position: relative;
}

.news__image {
	display: block;
	max-width: 425px;
	padding: 0 0 62% 0;
	position: relative;
}

.news__image::after {
	content: "27 Sep, 2021";
	position: absolute;
	padding: 10px;
	top: auto;
	bottom: 10px;
	left: auto;
	right: 10px;
	background-color: #fff;
	box-shadow: 1px 0 10px rgb(0 0 0 / 10%);
}

.news__content {}

.content {
	padding: 15px 0 0;
	text-align: left;
	line-height: 22px;
}

.news__title {
	color: #222222;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news__decritption {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 0 0 10px;
	color: #777777;
}

.news__link {
	color: #111;
	position: relative;
	padding: 0 0 0 25px;
}

.news__link::before {
	content: "";
	position: absolute;
	background: #111;
	width: 20px;
	height: 1px;
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

/*------------------------------------INSTAGRAM FEEDS------------------------------------*/

.page__feeds {
	margin: 0 0 80px;
}

.feeds {}

.feeds__container {}

.feeds .section__subtitle {
	border: none;
	padding: 0;
	margin: 0 0 5px;
}

.feeds .section__subtitle img {
	height: 35px;
	width: 35px;
}


.feeds__content {
	display: flex;
	justify-content: space-between;

}

.feeds__item {
	padding: 0 5px;
}

.feeds__image {
	display: block;
	width: 298px;
	padding: 0 0 100%;
}

/*------------------------------------FOOTER------------------------------------*/

.page__footer {}

.footer {}

.footer__container {
	border-top: 1px solid #e5e5e5;
	padding: 80px 0;
}

.container {}

.footer__content {
	display: flex;
}

.footer__discover {
	flex: 0 1 66%;
	display: flex;
	justify-content: space-between;
}

.footer__column {
	flex: 0 1 100%;
}

.footer__item {}

.item {
	padding: 0 15px;
}

.item__title {
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 30px;
}

.footer-navigation__list {}

.footer-navigation__item {
	margin: 0 0 5px;
	line-height: 22px;
}

.footer-navigation__link {
	color: #666;
	font-size: 13px;
}

.footer__newsletter {
	flex: 0 1 33%;
}

.newsletter {}

.newsletter__title {
	color: #111;
	font-family: Cormorant sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-left: 30px;
	margin: 0 0 30px;
	position: relative;
}

.newsletter__title::before {
	content: url("../img/3643756-email-envelope-mail-message-open_113417.svg");
	position: absolute;
	height: 20px;
	width: 20px;
	left: 0;
}

.newsletter__description {
	color: #666;
	font-size: 13px;
	margin: 0 0 15px;
	line-height: 22px;
}

.newsletter__form {
	display: flex;
	padding: 0 0 8px;
	border-bottom: 1px solid #e5e5e5;
}

.form__input {
	padding: 10px 15px 10px 15px;
	width: 100%;
	height: 45px;
}

.form__buttton {
	color: #fff;
	background-color: #111;
	padding: 0 32px;
	height: 45px;
}

/*------------------------------------FOOTER_buttom------------------------------------*/

.footer-bottom {
	background-color: #222222;
}

.footer-bottom__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom__copyright {
	color: #fff;
	margin: 12px 0;
}

.footer-bottom__copyright * {
	color: #fff;
}

.footer-bottom__social {}

.social {
	display: flex;
}

.social__item:not(:last-child) {
	margin: 0 10px 0 0;
}

.social__link img {
	height: 24px;
	width: 24px;
	line-height: 24px;
	font-size: 16px;
	margin: 0 5px;
}